.viking-dialog-overlay {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: black; }

.viking-dialog-wrapper {
  width: 100%; }

.viking-dialog {
  padding: 20px;
  background: white;
  width: 40%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 20px;
  z-index: 1000;
  position: relative;
  border-radius: 2px; }
  .viking-dialog-show {
    -webkit-animation: showVikingDialog 0.1s;
    -moz-animation: showVikingDialog 0.1s;
    animation: showVikingDialog 0.1s; }
  .viking-dialog-hide {
    -webkit-animation: hideVikingDialog 0.1s;
    -moz-animation: hideVikingDialog 0.1s;
    animation: hideVikingDialog 0.1s; }

.viking-dialog .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
  cursor: pointer; }

@-webkit-keyframes showVikingDialog {
  0% {
    -webkit-transform: scale(0.7); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes showVikingDialog {
  0% {
    -moz-transform: scale(0.7); }
  100% {
    -moz-transform: scale(1); } }
@keyframes showVikingDialog {
  0% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes hideVikingDialog {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0.7); } }
@-moz-keyframes hideVikingDialog {
  0% {
    -moz-transform: scale(1); }
  100% {
    -moz-transform: scale(0.7); } }
@keyframes hideVikingDialog {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); } }
